.filter-container {
  width: var(--task-width);
  height: 30px;
  background: var(--container-color);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 1px var(--shadow-color);
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}

.filter-container button {
  border: 0;
  background: transparent;
  margin: 5px 7px;
}

.disabled {
  color: hsl(233, 14%, 35%);
}

.active {
  color: hsl(220, 98%, 61%);
}

.filter-container button:hover {
  cursor: pointer;
  color: var(--text-color);
}

@media (min-width: 376px) {
  .filter-container {
    position: relative;
    top: -75px;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: none;
    border-radius: 0;
  }
}
